{% extends 'home/merch/index.html.twig' %}
{% import 'home/components/merch/productGrid.html.twig' as productGrid %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/filter_page.css') }}?v={{ random() }}">
{% endblock %}


{% block merchBody %}



	<div class=" singleProduct">


		<div class="content">
			<div class="container">
				<div class="row">

					<div class="col-md-6" style="padding-left: 0;">


						<div class="product_img">

							<img src="{{ asset('images/logo_circle.png') }}" alt="">
						</div>
					</div>
					<div class="col-md-6" style="padding-left: 0;">

						<div class="product_infos">
							<div class="title">
								qmlsdkqmlsdkmlsq
							</div>

                            <div class="description" >
                            lqsjkdlksqdklsq kld jklsd
                            </div>
							<div class="p_a product"   data-id="1" data-name="Product 1" data-price="10" data-image="https://m.media-amazon.com/images/I/61AGnL93aML._AC_UF894,1000_QL80_.jpg">
								<div class="prix">
									15DT
								</div>
								<div>
									<button class="btn_main add-to-cart">
										<i class="fa-solid fa-cart-plus"></i>
										<span>Ajouter au panier</span>
									</button>
								</div>
							</div>
                            <div class="tags" >
                            <span>qsdqs</span>
                            <span>qsdqs</span>
                            <span>qsdqs</span>
                            <span>qsdqs</span>

                            </div>
						</div>


					</div>

				</div>

			</div>


		</div>
	</div>
{% endblock %}


{% block scripts %}
	{{ parent() }}
	<script></script>
{% endblock %}
