{% macro displayCourse(cours) %}


	<div class="col-md-12">

		<a class="single_cours_grid list_view" href="{{ path('home_cours_page_index', {'slug': cours.slug}) }}">
			<div class="img_holder">
				<img {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', { src: asset('images/lazy/img.jpg') } ) }}  src="{{ cours.image }}" alt="">
				<div class="add_cours_btn">

					<i class="fa-solid fa-book"></i>

				</div>
				<div class="category_chimp">
					{{ cours.subcategoryid.nom }}

				</div>

			</div>
			<div class="infos">
				<span class="teacher">{{cours.enseignantid.username}}</span>
				<span class="cours_title">{{ cours.nom }}</span>
				<p class="description">{{cours.description}}</p>
				<div class="rating">
					<div class="list_stars">
						{% for i in 1..5 %}
							{% if cours.getAverageRating() is not null and i <= cours.getAverageRating() %}
								<div class="star">
									<i class="fa-solid fa-star"></i>
								</div>
							{% else %}
								<div class="star">
									<i class="fa-regular fa-star"></i>
								</div>
							{% endif %}
						{% endfor %}

					</div>
					<small>({{cours.getAverageRating()}})</small>
				</div>
				<div class="separator"></div>
				<div class="bottom_part">
					{{cours.lessons|length}}
					Lessons /{{cours.getLessonsDuration()}}
					Heurs /
					{{ cours.niveauid.niveau }}

				</div>


			</div>


		</a>
	</div>

 
{% endmacro %}
