{% macro displayCourse(cours) %}


	<a class="single_cours_grid" href="{{ path('home_cours_page_index', {'slug': cours.slug})  }}">
		<div class="img_holder">
			<img src="{{ cours.image }}" alt="">
			<div class="add_cours_btn">

				<i class="fa-solid fa-book"></i>

			</div>
			<div class="category_chimp">
				cat1

			</div>

		</div>
		<div class="infos">
			<span class="teacher">educateur</span>
			<span class="cours_title">{{ cours.nom }}</span>
			<div class="rating">
				<div class="list_stars">
					<div class="star">
						<i class="fa-solid fa-star"></i>
					</div>
					<div class="star">
						<i class="fa-solid fa-star"></i>
					</div>
					<div class="star">
						<i class="fa-solid fa-star"></i>
					</div>
					<div class="star">
						<i class="fa-solid fa-star"></i>
					</div>
					<div class="star">
						<i class="fa-regular fa-star"></i>
					</div>


				</div>
				<small>(2)</small>
			</div>
			<div class="separator"></div>
			<div class="bottom_part">
				{{cours.lessons|length}} Lessons / 10 Heurs / {{ cours.niveauid.niveau }}

			</div>
	 


		</div>


	</a>
{% endmacro %}
