<div class="col-md-6 card1" >
    <div class="single card-body1">
        <div class="header_section">
            <div class="related_cours card-body2">

                <div class="txt">
                    Quiz
                </div>
                <div class="title">
                    {{ quiz.nom }}
                </div>

            </div>
            <div class="options_chimp ">
                <div class="dropdown">
                    <div class="  dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <ul class=" dropdown-menu dropdown-menu-end ">

                        <li><div class="dropdown-item "  openGeneralPopup data-link="{{ path('teacher_quiz_preview_popup' , {quiz_id:quiz.id}) }}">Afficher</div></li>

                        <li><a class="dropdown-item " href="{{ path('teacher_quiz_up' , {quiz_id:quiz.id}) }}">Modifier</a></li>

                        <li><a class="dropdown-item " href="{{ path('teacher_quiz_delete_quiz', {'idQuiz': quiz.id}) }}" onclick="return confirm('Etes vous sur de vouloir supprimer ce quiz ?');">Supprimer</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="infos">
            <div class="s">Duration : <span> {{ quiz.duree }}</span> </div>
            <div class="s">Nb Question: <span>{{quiz.getQuestions()|length}}</span></div>


        </div>

    </div>
</div>