<div class="single">

    <div class="delete_lesson">
        <i class="fa-solid fa-delete-left"></i>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single_row">


                    <div class="form-floating">
                        <input type="text" class="form-control" name="question[{{q_index}}]" placeholder="Entrer Question">
                        <label>Question</label>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="single_row thumb">
                    <div class="img_holder">
                        <img src="/assets/cours/quizz/quizz_img.jpg" alt="">
                    </div>
                    <button class="btn_main">Image</button>
                </div>


            </div>

            <div class="col-md-6">
                <div class="single_row">


                    <div class="form-floating">
                        <input type="text" class="form-control" name="suggestion[{{q_index}}][0]" placeholder="enter suggestion 1">
                        <label>suggestion 1</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_row">


                    <div class="form-floating">
                        <input type="text" class="form-control" name="suggestion[{{q_index}}][1]" placeholder="enter suggestion 2">
                        <label>suggestion 2</label>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="single_row">


                    <div class="form-floating">
                        <input type="text" class="form-control" name="suggestion[{{q_index}}][2]" placeholder="enter suggestion 3">
                        <label>suggestion 3</label>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="single_row">


                    <div class="form-floating">
                        <input type="text" class="form-control" name="suggestion[{{q_index}}][3]" placeholder="enter la reponse">
                        <label>Reponse</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>