{% macro displayCourse(cours) %}


<div class="col-md-3">
    <div class="single_cours_grid" href="#">
        <div class="img_holder">
            <img src="{{ cours.image }}" alt="">

            <div class="options_chimp ">
                <div class="dropdown">
                    <div class="  dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <ul class=" dropdown-menu dropdown-menu-end ">
                        <li>
                            <a class="dropdown-item " href="{{ path('teacher_cours_edit' , {id:cours.id}) }}">Modifier</a>
                        </li>
                        <li>
                            <a class="dropdown-item " href="{{ path('teacher_quiz_add' , {cours_id:cours.id}) }}">Quiz</a>
                        </li>
                        <li>
                            <a class="dropdown-item " href="{{ path('teacher_cours_delete' , {id:cours.id}) }}">Supprimer</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="infos ">

            <span class="cours_title ">{{ cours.nom }}</span>

            <div class="single_data ">Sous Categorie :
                <strong>{{ cours.subcategoryid.nom }}</strong>
            </div>

            <div class="single_data ">Quiz ✅</div>

            <!-- ❌ -->
     {#        <div class="single_data ">Views:
                <strong>{{ cours.views }}</strong>
            </div> #}

            <div class="rating ">
             	<div class="list_stars">
						{% for i in 1..5 %}
							{% if cours.getAverageRating() is not null and i <= cours.getAverageRating() %}
								<div class="star">
									<i class="fa-solid fa-star"></i>
								</div>
							{% else %}
								<div class="star">
									<i class="fa-regular fa-star"></i>
								</div>
							{% endif %}
						{% endfor %}

					</div>
					<small>({{cours.getAverageRating()}})</small>
            </div>


            <div class="separator "></div>
            <div class="bottom_part ">
                	{{cours.lessons|length}}
					Lessons /{{cours.getLessonsDuration()}}
					Heures /
					{{ cours.niveauid.niveau }}


            </div>
            <div class="separator "></div>
            <div class="enrollment ">
                <div class="list ">


                    <div class="single ">
                        <img src="{{ asset('images/cours/person.jpg') }}" alt=" ">

                    </div>
                    <div class="single ">
                        <img src="{{ asset('images/cours/person.jpg') }}" alt=" ">

                    </div>
                    <div class="single ">
                        <img src="{{ asset('images/cours/person.jpg') }}" alt=" ">

                    </div>
                    <div class="single ">
                        <img src="{{ asset('images/cours/person.jpg') }}" alt=" ">

                    </div>
                    <div class="single ">
                        <img src="{{ asset('images/cours/person.jpg') }}" alt=" ">

                    </div>
                    <div class="single ">
                        <img src="{{ asset('images/cours/person.jpg') }}" alt=" ">

                    </div>
                </div>
                <div class="count ">0</div>

            </div>


        </div>


    </div>

</div>

{% endmacro %}