<div class="single"  >

	<div class="delete_lesson">
		<i class="fa-solid fa-delete-left"></i>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="single_row">


					<div class="form-floating">
						<input type="text" class="form-control" name="lesson_title[]" placeholder="" value="{% if lesson is defined %} {{lesson.titre}} {% endif %}">
						<label>Titre du lesson</label>
					</div>
				</div>
			</div>


			<div class="col-md-12">
				<div class="single_row">


					<div class="form-floating">
						<input type="text" class="form-control" name="lesson_video[]"   value="{% if lesson is defined %} {{lesson.video}} {% endif %}" placeholder="">
						<label>Video</label>
					</div>
				</div>
			</div>


			<div class="col-md-12">
				<div class="single_row">


					<div class="form-floating">
						<textarea class="form-control" name="lesson_content[]" style="height: 100px">{% if lesson is defined %} {{lesson.content}} {% endif %} 
						</textarea>
						<label>Contenu</label>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="single_row">


					<div class="form-floating">
						<input type="number" name="lesson_duree[]"  value="{% if lesson is defined %} {{lesson.duree}} {% endif %}" class="form-control" placeholder="">
						<label>Duree</label>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="single_row">

					<div class="form-floating">
						<input type="number" name="lesson_classement[]"  value="{% if lesson is defined %} {{lesson.classement}} {% endif %}" class="form-control" placeholder="">
						<label>classement</label>
					</div>
				</div>

			</div>

		</div>

	</div>
</div>
