<div class="single">
	<div class="head">
		<div class="avatar">
			<img src="{{ pub.user.image is not empty ? pub.user.image : asset('images/cours/person.jpg') }}" alt="User Avatar">

		</div>
		<div class="infos">
			<div class="username">
				{{ pub.user.username }}
			</div>
			<a href="{{ path('home_forum_single_publication' ,{idPub:pub.id} )}}" class="date">{{ pub.dateCreation|date('d/m/Y') }}</a>

		</div>
		{# //FIXME:userId=18 #}
		{% if pub.user.id == 18 %}

			<div class="options">


				<div class="dropdown dropstart">
					<div class="drop_btn" data-bs-toggle="dropdown">
						<i class="fa-solid fa-ellipsis-v"></i>
					</div>

					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item"  openGeneralPopup  data-link="{{ path('home_forum_open_edit_publication' , {idPub:pub.id}) }}">Modifier</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('home_forum_delete_publication', {'idPub': pub.id}) }}" onclick="return confirm('Are you sure you want to delete this publication?');">Supprimer</a>
						</li>
					</ul>
				</div>
			</div>
		{% endif %}

	</div>

	<div class="content">
		<div class="title">
			<b>{{ pub.titre }}</b>
		</div>
		{% if pub.images is not empty %}
			<div class="img_list">
				{% set images = pub.images|split(';') %}
				{% for image in images %}
					<div class="single_img">
						<img src="{{ image }}" alt="Image">
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<div class="question">
			<p>{{ pub.contenu }}</p>

		</div>

	</div>


	<div class="infos">
		<div class="reactions">
			{% set likeClass = pub.userReaction == 'like' ? 'user-liked' : '' %}
			{% set dislikeClass = pub.userReaction == 'dislike' ? 'user-disliked' : '' %}
			<div class="single_reaction {{ likeClass }}">
				

				<div class="icon like">
					<i class="fa-solid fa-thumbs-up"></i>
				</div>
				<div class="counting">{{ reactions.jaime }}</div>
				<div class="txt">
				<a href="{{ path('home_forum_react_to_publication', {'pubId': pub.id, 'reactionType': 'like'}) }}" >J'aime</a>
				</div>				
				
				
			</div>
			<div class="single_reaction {{ dislikeClass }}">
				<div class="icon dislike">
					<i class="fa-regular fa-thumbs-down"></i>
				</div>
					<div class="counting">{{ reactions.dislike }}</div>
					<div class="txt">
						<a href="{{ path('home_forum_react_to_publication', {'pubId': pub.id, 'reactionType': 'dislike'}) }}" >Je n'aime pas</a>
					</div>
				
			</div>
			<a href="{{ path('home_forum_single_publication' ,{idPub:pub.id} )}}" class="single_reaction">
				<div class="icon comment">

					<i class="fa-regular fa-message"></i>
				</div>
				{% set commentCount = pub.getCommentaires()|length %}
				<div class="counting">{{commentCount}}</div>
				<div class="txt">
					{% if commentCount == 1 or commentCount ==0 %}
						commentaire
					{% else %}
						commentaires
					{% endif %}
				</div>

			</a>

		</div>

	</div>

	<div class="list_comments">
		{% for commentaire in pub.getCommentaires() %}
			{% include 'home/components/forum/singleComment.html.twig' with {'comment': commentaire} %}
		{% else %}
			<div class="single_comment">No comments found!</div>
		{% endfor %}
		{# //FIXME:userId=18 #}
		{% if user.id == 18 %}
		<div class="flash-messages">
                                {% for message in app.flashes('danger') %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
			{{ form_start(commentForm) }}
				<div class="single_comment add">
					<div class="avatar">
						<img src="{{ user.image is not empty ? user.image : asset('images/cours/person.jpg') }}" alt="User Avatar">
					</div>
					<div class="content">
						<div class="top">
							<div class="username">{{user.username }}</div>
						</div>
						<div class="new_comment">
							<div class="comment">
								{{ form_row(commentForm.commentaire, {'label': false,'attr': {'class': 'form-control', 'placeholder': 'comment', 'rows': '2'}}) }}
								{{ form_row(commentForm.returnPath) }} <!-- This will use the value set in the controller -->

							</div>
							<div class="sub">
								<button type="submit" class="btn_main">Ajouter</button>
							</div>
						</div>
					</div>
				</div>
			{{ form_end(commentForm) }}
		{% endif %}



	</div>
</div>

{% block javascripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Define the sound to be played
    var audio = new Audio('https://res.cloudinary.com/dkdx59xe9/video/upload/v1709508219/Facebook_Like_Sound_Effect_nbc6ju.mp3');

    // Function to play sound
    function playSound() {
        audio.play().catch(error => console.error("Playback prevented by the browser."));
    }

    // Attach click event listeners to both like and dislike reaction areas
    document.querySelectorAll('.single_reaction').forEach(function(element) {
        element.addEventListener('click', function(event) {
            playSound();
        });
    });
});
</script>



{% endblock %}