<div class="auth_holder">

 {{ form_start(formR)  }} 
	<div class="auth_title">S'inscrire avec</div>
	<div class="social_btns">
		<button class="fb">
			<i class="fa-brands fa-facebook-f"></i>
			<span>Facebook</span>
		</button>
		<button class="google">
			<i class="fa-brands fa-google"></i>
			<span>Google</span>
		</button>


	</div>
	<div class="separator">
		<div class="line"></div>
		<span>Ou</span>
		<div class="line"></div>

	</div>


	<div class="input_holder">

		<div class="input-group flex-nowrap">
			<span class="input-group-text">
				<i class="fa-solid fa-user"></i>
			</span>
			{{ form_row(formR.username) }}
		</div>
		<div class="input-group flex-nowrap">
			<span class="input-group-text">
				<i class="fa-solid fa-at"></i>
			</span>
				{{ form_row(formR.email) }}
		</div>

		<div class="input-group flex-nowrap">
			<span class="input-group-text">
				<i class="fa-solid fa-lock"></i>
			</span>
				{{ form_row(formR.password) }}
		</div>
		<div class="input-group flex-nowrap">
			<span class="input-group-text">
				<i class="fa-solid fa-lock"></i>
			</span>
            
			{{ form_row(formR.repeatPassword) }}
		</div>
	</div>


	{{ form_row(formR.submit) }}
{{form_end(formR)}}


	<div class="ind" id="openLoginPopup">
		Vous avez déjà un compte?
	</div>


</div>
