{% extends 'home/homeLayout.html.twig' %}
{% import 'home/components/merch/productGrid.html.twig' as productGrid %}
 

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/filter_page.css') }}?v={{ random() }}">
{% endblock %}


{% block body %}


	<div class="filter_page merch">


		<div class="filter_header" style="background-image: url({{ asset('images/merch/header.png')}})">
			 
		</div>

		<div class="content">
			<div class="container">
				<div class="row">

					<div class="col-md-12" style="padding-left: 0;">
					 


						<div class="container-fluid">
							<div class="row">


								{# {% for cours in data %} #}
								 
										{{ productGrid.displayProduct("prod") }}
										{{ productGrid.displayProduct("prod") }}

										{{ productGrid.displayProduct("prod") }}
										{{ productGrid.displayProduct("prod") }}
										{{ productGrid.displayProduct("prod") }}


								 


							{# 	{% endfor %} #}
							</div>

						</div>

					 
					</div>

				</div>

			</div>


		</div>
	</div>
{% endblock %}


{% block scripts %}
	{{ parent() }}
	<script>

 
	</script>
{% endblock %}
