{% extends 'home/homeLayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/quizz.css') }}">
{% endblock %}

{% block body %}
<div class="cours_quizz">
    <div class="content">
        <div class="container">
            <div class="quizz_header">
                <div class="timer">{{ questionDetails.quiz.duree }}</div>
                <div class="steps">{{ questionDetails.currentQuestionIndex + 1 }}/{{ questionDetails.totalQuestions }}</div>
            </div>

            <div class="quizz_core">
                <div class="question">{{ questionDetails.currentQuestion.question }}</div>
                {% if questionDetails.currentQuestion.image %}
                    <div class="img_holder">
                        <img src="{{ asset(questionDetails.currentQuestion.image) }}" alt="">
                    </div>
                {% endif %}
                <div class="rep_holder">
                    <div class="row">
                    {% for sug in questionDetails.currentQuestion.getSuggestions %}
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="sug{{ loop.index }}">
                                <label class="form-check-label" for="sug{{ loop.index }}">{{ sug.suggestion }}</label>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div> <!-- rep_holder -->
            </div> <!-- quizz_core -->

            <div class="n_btn_holder">
                {% if not questionDetails.isLastQuestion %}
                    <!-- Ensure the 'Next' button is correctly enclosed within the <a> tag -->
                    <a href="{{ path('home_quizz_quiz_question', {'coursId': questionDetails.quiz.coursid.id, 'questionIndex': questionIndex}) }}">
                        <button class="btn_main">Next</button>
                    </a>
                {% else %}
                    <!-- The 'Submit' button appears to be correctly placed. Make sure the route name is correct -->
                    <a href="{{ path('home_quizz_note') }}"><button class="btn_main">Submit</button></a>
                {% endif %}
            </div>

        </div> <!-- container -->
    </div> <!-- content -->
</div> <!-- cours_quizz -->
{% endblock %}
