{% extends 'home/homeLayout.html.twig' %}
 

{% block body %}
    <div class="container">
        <div class="head">
            <div class="left">
                <h3 class="title">Mes Réclamations</h3>
            </div>
            
        </div>
        <div class="Dtable_style">
            <table id="Dtable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reclamation in reclamations %}
                    <tr>
                        <td>{{ reclamation.Type }}</td>
                        <td>{{ reclamation.description }}</td>
                        <td>{{ reclamation.date ? reclamation.date|date('d/m/Y') : 'N/A' }}</td>
                        <td>{{ reclamation.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="right">
                <h6 class="nav-item">
                    <a class="nav-link" href="{{ path('home_avis_add_reclamation_page') }}">Ajouter Réclamation</a>
                </h6>
            </div>
    </div>
    
{% endblock %}

